*.pyc
*.nfs*
*.egg-info
!{{cookiecutter.project_slug}}/*
build
*.csv
*.pyd
*.log
!docs/source/*
docs/*
dist/*
wheelhouse/*
*.doctree
*.envrc
env/*
.tox/*
*/PKG-INFO
*.so
.venv/*
\.venv/
.vagrant/*
.pytest_cache/*
reports/*-py*
.coverage
reports/*
*.c